<div>
	<div>
		<canvas id="canvas" width="800px" height="400px"></canvas>
	</div>
	<div>
		Bot Commands
	</div>
	<div id="commandCount">
		-
	</div>
	<button ng-click="whatTimeIsIt()">What time is it?</button>
	<button ng-click="playback()">Playback!</button>
	<button ng-click="sendCommands()">Send Commands</button>

   	<input id="message" ng-keypress="messageKeypress($event)" ></input>
	<button ng-click="doMessage()">Play Message!</button>
	<div>
		<textarea id="output" type="text" rows="10" cols="10" ng-model="simulator.character"></textarea>
		<textarea id="outputPosition" type="text" rows="10" cols="20" ></textarea>
	</div>
</div>