<div>
	<div>
		<canvas id="canvas" width="800px" height="400px"></canvas>
	</div>
	<div>
		Bot Commands
	</div>
	<div id="commandCount">
		-
	</div>
	<button onclick="playback()">Playback!</button>
	<button onclick="pretend()">Pretend!</button>
	<button ng-click="writeCharacter()">Write Character</button>    
	<div>
		<textarea id="output" type="text" rows="10" cols="10" ng-model="simulator.character"></textarea>
		<textarea id="outputPosition" type="text" rows="10" cols="20" ></textarea>
	</div>
</div>