doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/angular/angular.js')
    script(type='text/javascript' src='/javascripts/drewbotclient.js')
  body
    block content