<div>
	<div class="controls">
		<div class="calibration">
			<button ng-click="DrewbotClient.left90()">Set Left To 90 -- 'l90'</button>
			<button ng-click="DrewbotClient.right90()">Set Right To 90 -- 'r90'</button>
			<button ng-click="DrewbotClient.lifter90()">Set Lifter To 90 -- 'i90'</button>
		</div>
		<div class="test">
		    <input type="text" ng-model="DrewbotClient.model.customCommand" placeholder="send a custom command"/>
		    <button ng-click="DrewbotClient.sendCustomCommand()">Send</button>
		</div>
		<div>
			<button ng-click="DrewbotClient.connectArduino()">Connect Arduino</button>
		</div>
		<p>{{DrewbotClient.model.commandResponse}}</p>
	</div>
	<button ng-click="DrewbotClient.sendStrokes()">send strokes</button>
	<em-simulator></em-simulator>

</div>