<div>
	<h1>Welcome!!</h1>
	<button ng-click="left90()">Set Left To 90</button>
	<button ng-click="right90()">Set Right To 90</button>
	<button ng-click="lifter90()">Set Lifter To 90</button>
		
    <input type="text" ng-model="model.customCommand" placeholder="send a custom command"/>
    <button ng-click="sendCustomCommand()">Send</button>		
    <p>{{model.drawResponse}}</p>
	
<!--	<button ng-click="ledOn()">Turn LED On</button>
	<button ng-click="ledOff()">Turn LED Off</button>
	<p>{{model.ledResponse}}</p>-->
	
	<em-simulator></em-simulator>
	
</div>